<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DeviceFailureServiceSoapBinding" />
                <binding name="ActiveDispatchOrderServiceSoapBinding" />
                <binding name="DeviceStatusServiceSoapBinding" />
                <binding name="ChkItemListServiceSoapBinding" />
                <binding name="UserInfoListServiceSoapBinding" />
                <binding name="MaterialAndonServiceSoapBinding" />
                <binding name="CraftPramServiceSoapBinding" />
                <binding name="DeviceAndonServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/DeviceFailureService"
                binding="basicHttpBinding" bindingConfiguration="DeviceFailureServiceSoapBinding"
                contract="ServiceReference1.DeviceFailureService" name="DeviceFailureServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/ActiveDispatchOrderService"
                binding="basicHttpBinding" bindingConfiguration="ActiveDispatchOrderServiceSoapBinding"
                contract="ServiceReference2.ActiveDispatchOrderService" name="ActiveDispatchOrderServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/DeviceStatusService"
                binding="basicHttpBinding" bindingConfiguration="DeviceStatusServiceSoapBinding"
                contract="ServiceReference3.DeviceStatusService" name="DeviceStatusServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/ChkItemListService"
                binding="basicHttpBinding" bindingConfiguration="ChkItemListServiceSoapBinding"
                contract="ServiceReference5.ChkItemListService" name="ChkItemListServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/UserInfoListService"
                binding="basicHttpBinding" bindingConfiguration="UserInfoListServiceSoapBinding"
                contract="ServiceReference6.UserInfoListService" name="UserInfoListServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/MaterialAndonService"
                binding="basicHttpBinding" bindingConfiguration="MaterialAndonServiceSoapBinding"
                contract="ServiceReference7.MaterialAndonService" name="MaterialAndonServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/CraftPramService"
                binding="basicHttpBinding" bindingConfiguration="CraftPramServiceSoapBinding"
                contract="ServiceReference8.CraftPramService" name="CraftPramServicePort" />
            <endpoint address="http://172.30.2.15:8090/extras-web-cxf/service/DeviceAndonService"
                binding="basicHttpBinding" bindingConfiguration="DeviceAndonServiceSoapBinding"
                contract="ServiceReference4.DeviceAndonService" name="DeviceAndonServicePort" />
        </client>
    </system.serviceModel>
</configuration>
